/* =Content
----------------------------------------------- */

.site-content {
	width: 100%;
	color: $light;
	
	@media only screen and (min-width: $responsive25) {
		position: absolute;
		bottom: 0;
		bottom: 64px;
	}
}

	.content-area {
		width: 100%;
		@include contentbg;

		@media only screen and (min-width: $responsive1) {
			height: auto;
			margin: 0 auto;
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 24em;
			max-width: 50em;
		}
	}

		.post {
			overflow: hidden;
			margin-bottom: $vspacing;
			vertical-align: top;
			position: relative;

			@include column( 1 );

			.entry-content {
				margin: 0;
				color: $darkteal;	
			}

			p {
				margin: 0 0 $lineheight;

				@media only screen and (min-width: $responsive1) {
					.read_more {
						position: absolute;
						bottom: 1.25em;
						right: 1.25em;
						color: $light;
					}
				}
			}
		}

			.entry-header {
				overflow: hidden;
				
				.entry-title {
					margin: 0;
					line-height: $vspacing;

					.entry-title-link {
						text-decoration: none;
						color: $darkred;
						text-transform: uppercase;
						font-weight: bold;
					}

				} // End of .entry-title

				.entry-meta {
					margin-left: 0.25em;					
				}

				.post-time-link {
					text-decoration: none;
					color: $darkteal;
					font-weight: bold;
				}

			} // End of .entry-header

			.entry-featured-image {
				margin: 0 auto;
				max-width: 100%;

				@media only screen and (min-width: $responsive1) {
					float: left;
					margin: 0 2% 0 0;
					max-width: 42.6%;
				}

				img {
					width: 100%;
				}

			}

			footer.entry-meta {
				margin-bottom: $vspacing;
			} // End of .entry-meta



/**
 * Pages
 */
.page {

	.entry-header {
		margin-bottom: $vspacing;
	}

}

article.page {
	padding: 1em;
}

.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: $vspacing 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}



/**
 * Mobile Content Link
 */

.mobile-content {
	padding: 0.5em;

	@media screen and (min-width: $responsive1) {
		display: none;	
	}
}

	.mobile-content-link {
		text-decoration: none;
		text-transform: uppercase;
		font-family: open_sanslight;
		font-size: $h4;
	}

/**
 * Hidden items
 */

.byline,
.updated,
.widget-area,
.paging-navigation {
	@include hide();
}