/* =Content
----------------------------------------------- */

.home .site-content {
	@include hide();
}

.site-content {
	width: 100%;
	color: $light;

	@media only screen and (min-width: $responsive2) {
		position: absolute;
		bottom: 62px;
	}
	
	@media only screen and (min-width: $responsive25) {
		bottom: 40px;
	}
}

	.content-area {
		width: 100%;
		@include contentbg;

		@media only screen and (min-width: $responsive25) {
			height: auto;
			margin: 0 auto;
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 24em;
			max-width: 50em;
		}
	}

		.post {
			overflow: hidden;
			margin-bottom: $vspacing;
			vertical-align: top;
			position: relative;

			@include column( 1 );

			.entry-content {
				margin: 0;
				color: $darkteal;	
			}

			p {
				margin: 0 0 $lineheight;
			}
		}

			.entry-header {
				overflow: hidden;
				
				.entry-title {
					margin: 0;
					line-height: $vspacing;

					.entry-title-link {
						text-decoration: none;
						color: $darkred;
						text-transform: uppercase;
						font-weight: bold;
					}

				} // End of .entry-title

				.entry-meta {
					margin-left: 0.25em;					
				}

				.post-time-link {
					text-decoration: none;
					color: $darkteal;
					font-weight: bold;
				}

			} // End of .entry-header

			.entry-featured-image {
				margin: 0 auto;
				max-width: 100%;

				@media only screen and (min-width: $responsive1) {
					float: left;
					margin: 0 2% 0 0;
					max-width: 42.6%;
				}

				img {
					width: 100%;
				}

			}

			footer.entry-meta {
				margin-bottom: $vspacing;
			} // End of .entry-meta



/**
 * Pages
 */
article.page {
	padding: 1em;
	position: relative;

	.entry-header {
		margin-bottom: 0;
	}

	#show_hide_link,
	[for="show_hide_link"] {
		visibility: hidden;
		max-height: 0;
	}

	@media screen and (min-width: $responsive2) {

		section.entry-content {
			max-height: 0;
			margin: 0;
			visibility: hidden;
			transition: all 0.5s ease;
		}

		input[type=checkbox]#show_hide_link {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			width: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
		}

		[for="show_hide_link"] {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.6em 1em;
			font-size: 2em;
			visibility: visible;
			max-height: 3em;
			transition: all 0.5s ease;

			&:hover {
				background: rgba(0,0,0,.5);
				color: rgb(255,255,255);
				transition: background 0.75s ease;
			}

			&:after {
				content: "+";
			}

		}

		input[type=checkbox]:checked {

			~ section.entry-content {
				visibility: visible;
				max-height: 24em;
				transition: all 0.5s ease;
			}

			~ [for="show_hide_link"] {
				&:after {
					content: "-";
				}
			}

		} // End of input:checked

	} // End of @media $responsive25

} // End of article.page

.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: $vspacing 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}



/**
 * Hidden items
 */

.byline,
.updated,
.widget-area,
.paging-navigation {
	@include hide();
}



/**
 * Media Page
 */
body.page-template-page_media-php{
	background-color: #222;
	background-position: top center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(images/Archive.jpg);

	.site-content {
		position: relative;
		bottom: inherit;
	}

	.content-area {
		max-height: inherit;
	}

	section.entry-content {
		max-height: inherit;
		visibility: visible;
	}

	footer.site-footer {
		background: rgba(34,34,34,0.9);
	}

	.tcycle,
	.tcycle_single,
	.sbgs_slide {
		@include hide();
	}

} // End of media page
