// Footer
// --------------------------

.site-footer {
	width: 100%;
	padding: 0.25em;
	
	@include contentbg;

	@media all and (min-width: $responsive1) {
		bottom: 0;
		position: fixed;
	}

	a {
		color: $light;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.footer-wrap {
		max-width: $finalwidth;
		margin: auto;
	}

		.footer_left {

			@media screen and (min-width: $responsive25) {
			 	@include column( 6, 2, 0 );
		 	}

			@media screen and (min-width: $responsive3) {
			 	@include column( 5, 1, 0 );
		 	}

		 	.menu-items {
				margin: 0;

				.menu-item {
					background: transparent;

					a:before {
						color: $light;
					}

				}
			}

		}

		.site-info {
			line-height: $vspacing;

			@media screen and (min-width: $responsive25) {
			 	@include column( 6, 3, 0 );
		 	}

		 	@media screen and (min-width: $responsive3) {
			 	@include column( 5, 3, 0 );
		 	}
		}

			.copyright {
				line-height: 1em;
			}

		.site-credits {

			@media screen and (min-width: $responsive25) {
			 	@include column( 6, 1 );
		 	}

		 	@media screen and (min-width: $responsive3) {
			 	@include column( 5, 1, 0 );
		 	}

		 	a {
		 		line-height: 2.15em;
		 	}
		}

		.footer_block {
			display: block;
			text-align: center;
		}

		/* .footer_block {
			display: block;
			margin-bottom: 1.5em;
			line-height: 2em;
			text-align: center;

			@media all and (min-width: $responsive2) {
				margin-bottom: 0;
			}
		 } */
}