// Footer
// --------------------------

.site-footer {
	
	color: $light;
	width: 100%;

	@include contentbg;

	@media all and (min-width: $responsive1) {
		bottom: 0;
		position: fixed;
	}

	a {
		color: $light;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.footer-wrap {
		max-width: $finalwidth;
		margin: auto;
		padding: 0.5em 1em 0;

		@media all and (min-width: $responsive1) {
			@include flexbox();
			@include justify( space-around );
			@include flexflow( row nowrap );
			@include alignitems( center );
		}

		.footer_block {
			display: block;
			width: 100%;
			margin-bottom: 1.5em;
			line-height: 2em;
			text-align: center;

			@media all and (min-width: $responsive1) {
				width: 33%;
				margin-bottom: 0;
			}
		 }

		 .site-info {
		 	line-height: $vspacing;
		 	@include flexbasis(60%);
		 }

		.footer_left,
		.site-credits {
			@include flexbasis(17.5%);
		}

		.footer_left {

			.menu-items {
				margin: 0;

				.menu-item {

					a:before {
						color: $light;
					}

				}
			}
		}
	}
}