// Footer
// --------------------------

.site-footer {
	width: 100%;
	padding: 0 0.5em 0.5em;
	
	@include contentbg;

	@media all and (min-width: $responsive1) {
		bottom: 0;
		position: fixed;
	}

	@media all and (min-width: $responsive25) {
		padding: 0 0.5em;
	}

	a {
		color: $light;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.footer-wrap {
		max-width: $finalwidth;
		margin: auto;
	}

		.site-info {
			line-height: 2.5em;
		}

			.copyright {
				line-height: 1em;
			}

		.footer_block {
			display: block;
			text-align: center;
		}

	.footer_rights {
		display: block;

		@media all and (min-width: $responsive25) {
			display: inherit;
		}
	}

}