/* =Header
----------------------------------------------- */

.site-header {
	margin-bottom: $vspacing*2 !important;
	max-width: $finalwidth;
	margin: 0 auto;
	
	.logocontainer {
		padding-bottom: $logospacing;
		height: $logospacing;
		min-width: 125px;
		@include column( 1, 1, 0 );

		@media only screen and ( min-width: $responsive075 ) {
			height: $logospacing2;
			padding-bottom: $logospacing2;

			@include column( 4, 1, 0 );
		}

		@media only screen and ( min-width: $responsive3 ) {
			@include column( 5, 1 );
			width: 17%;
			margin-right: 3%;
		}
	}

		.logowrap {
			@include contentbg;
		}

			.bulogo {
				padding-bottom: $logospacing;

				@include imagebg( $bulogo );

				@media only screen and (min-width:$responsive1 ) {
					padding-bottom: $logospacing2;
				}
			}




	.site-branding {
		@include contentbg;
		@include column( 1, 1, 0 );

		@media only screen and (min-width: $responsive075 ) {
			@include column( 4, 3, 0 );
			overflow: hidden;
		}

		@media only screen and (max-width:$responsive1 ) {
			padding-bottom: $vspacing;
		}

		@media only screen and (min-width: $responsive3 ) {
			@include column( 5, 3 );
			width: 34%;
			margin: 0 13%;
			padding: 0;
		}
	} // End of .site-branding

		/* LONG LOGO

		.site-title {
			@include imagebg( $logo, "", no-repeat, top, center, contain );
			min-height: 117px;

			@media screen and (min-width: $responsive1) {
				height: $logospacing2;
				@include imagebg( $longlogo, "", no-repeat, center, center, contain ) ;
			}

			a {
				@include hide();
			}
		}

		*/
	
		.site-title {
			@include imagebg( $logo, "", no-repeat, top, center, contain );
			min-height: 117px;

			@media screen and (min-width: $responsive1) {
				height: $logospacing2;
				@include imagebg( $logo, "", no-repeat, center, center, contain ) ;
			}

			@media only screen and (min-width: $responsive3 ) {
				height: $logospacing + 10px;
			}

			a {
				@include hide();
			}
		}

		.site-description {
			@include hide();
		} // End of .site-description

} // End of .site-header