/* =Header
----------------------------------------------- */

.site-header {
	margin-bottom: $vspacing !important;
	max-width: $finalwidth;
	margin: 0 auto;
	
	.logocontainer {
		padding-bottom: $logospacing;
		height: $logospacing;
		min-width: 125px;
		@include column( 1, 1, 0 );
		display: table-header-group;

		@media only screen and ( min-width: $responsive075 ) {
			height: $logospacing2;
			padding-bottom: $logospacing2;
			width: 25%;

			@include topRightCorner();
		}

		@media only screen and ( min-width: $responsive3 ) {
			width: $logospacing2
			;
		}
	}

		.logowrap {
			@include contentbg;
		}

			.bulogo {
				padding-bottom: $logospacing;

				@include imagebg( $bulogo );

				@media only screen and ( min-width: $responsive075 ) {
					padding-bottom: 141px;
				}

				@media only screen and (min-width:$responsive1 ) {
					padding-bottom: $logospacing2;
				}
			}




	.site-branding {
		@include contentbg;
		@include column( 1, 1, 0 );

		@media only screen and (min-width: $responsive075 ) {
			@include column( 4, 3, 0 );
			overflow: hidden;
		}

		@media only screen and (max-width:$responsive1 ) {
			padding-bottom: $vspacing;
		}

		@media only screen and (min-width: $responsive3 ) {
/* 			@include column( 5, 3 );
			width: 30%;
			margin: 0 13%;
			padding: 0; */
			float: none;
			margin: 0 auto;
			padding: 0;
			width: 550px;
		}
	} // End of .site-branding

		.site-title {
			@include imagebg( $logo, "", no-repeat, top, center, contain );
			min-height: 117px;

			@media screen and (min-width: $responsive1) {
				height: $logospacing2;
				@include imagebg( $shortlogo, "", no-repeat, center, center, contain ) ;
			}

			@media screen and (min-width: $responsive3) {
				height: $logospacing;
			}

			a {
				@include hide();
			}
		}

		.site-description {
			@include hide();
		} // End of .site-description

} // End of .site-header