/* =Header
----------------------------------------------- */

.site-header {
	margin-bottom: $vspacing;
	max-width: $finalwidth;
	margin: 0 auto;

	@media all and (min-width: $responsive1) {
		@include flexbox();
		@include justify( space-around );
		@include flexflow( row nowrap );
	}

	.site-branding {
		@include flexbasis(50%);
	} // End of .site-branding

	.logowrap {
		padding-bottom: 120px;
		width: 9em;
		height: 9em;
		margin:0 auto;
		@include contentbg;

		@media only screen and (min-width:$responsive1 ){
			@include flexbasis(25%);
			max-width: 9em;
		}
	}

	.bulogo {
		padding-bottom: 9em;
		background-image: url(http://www.belmont.edu/images/homepage_redesign/logo.png);
		background-position: center 10%;
		background-repeat: no-repeat;
	}

	.site-title {
		text-align: center;
		margin: 0 auto;
		//word-spacing: $finalwidth;
		padding: 0.5em;
		//width: 10em;

		@include contentbg;

		a {
			text-decoration: none;
			font-size: $h1;
			color: $light;
			text-transform: uppercase;
			font-family: open_sanslight;


			@media only screen and (min-width: $responsive1) {
				font-size: $h1*1.4;
			}
		}
	}

	.site-description {
		display: none;

		@media only screen and (min-width: $responsive3) {
			display: inline-block;
			color: $light;
			height: 18em;
			margin: 0;
			position: absolute;
		}

		.description-text {
			display: none;

			@media only screen and (min-width: $responsive3) {
				display: inline-block;
				text-transform: uppercase;
				text-align: justify;
				margin: 13.5em 0 0;
				max-width: 234px;
			}

		} // End of .description-text

	} // End of .site-description

} // End of .site-header