/* =Menu
 *
 * Centering the menu:
 * http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support
 * 
----------------------------------------------- */

.main-navigation {
	width: 100%;
	
	@include flexbasis(25%);
	
	// Small menu
	.menu-toggle,
	&.toggled .nav-menu {
		display: block;
		cursor: pointer;
		font-size: 2em;
		
		li {
			font-size: 1em;
		}

		@media screen and (min-width: $responsive1) {
			display: none;
		}
	}
}

.menu-default-container,
.menu-short-container,
.menu-testing-menu-container {
	font-size: 1.2em;
	text-align: center;

	@media screen and (min-width: $responsive1) {
		display: inline-block;
		float: right;
		text-align: right;
	}

}

	// first level
	.nav-menu {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: none;


		@media screen and (min-width: $responsive1) {
			display: inherit;
		}

		.menu-item {
			position: relative;

			> a {
				text-decoration: none;
				color: $light;
				text-transform: uppercase;
				font-family: open_sanslight;
				font-size: $h2;

				@media screen and (min-width: $responsive1) {
					padding: 0 1em;
				}
			}

			// link hover
			&:hover {
				> ul { display: block; }
			}

			&:first-child a:before {

				@media screen and (min-width: $responsive1) {
					content: none;
				}
			}

			&.current-menu-item,
			&.current-menu-parent,
			&.current_page_item,
			&.current-menu-ancestor {

				> a {
					color: $bured;
				}
			}

		}

		// second level
		.sub-menu  {
			list-style: none;
			margin: 0;
			background-color: $darkgray;
			
			@media only screen and (min-width: $responsive1) {
				float: left;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				display: none;
				position: absolute;
					top:0 ;
					left: -18.5em;
				z-index: 99999;
			}

			.menu-item {

				a {
					width: 100%;

					&:before {
						content: none;
					}

					@media only screen and (min-width: $responsive1) {
						width: 200px;
						line-height: 1.5em;
					}
				}
			}

			// third level
			.sub-menu {
				left: 100%;
				top: 0;
			}
			
		}

		li:hover > ul {
			display: block;
		}
	}

.menu-toggle {
	text-align: center;
	color: $light;
}
