// Theme Mixins
// --------------------------
// 

@mixin contentbg ( $opacity:0.6 ) {
	@include background-opacity( $darkgray, $opacity );
}

@mixin headers() {
    border: 0;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: $header-font;
    clear: both;
}