// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: open_sanslight;
$header-font: $base-font; // you can refer to other variables

/* Sizes */
$fontsize: 16px;
$lineheight: 24px;

/* Typography */

$giga: $fontsize*6;
$mega: $fontsize*5;
$kilo: $fontsize*4;

$h1: $fontsize*3;
$h2: $fontsize*2.5;
$h3: $fontsize*2;
$h4: $fontsize*1.5;
$h5: $fontsize;
$h6: $fontsize*0.875;

$milli: $fontsize*0.75;
$micro: $fontsize*0.625;

$socials: 30px;
$tgu_size: 3em;

$finalwidth: 75em;
$contentwidth: 50em;

/* Supported Values for $layout:
  null | content-sidebar | content-sidebar-sidebar | sidebar-content | sidebar-content-sidebar | sidebar-sidebar-content
*/
$layout: null !default;
$vspacing: 1.5em;
$logospacing: 120px;
$logospacing2: 150px;



/* Breakpoints */
$responsive075: 515px;
$responsive1: 650px;
$responsive2: 750px;
$responsive25: 800px;
$responsive3: 965px;
$responsive4: 1150px;
$responsive5: 1200px;
$responsive6: 1500px;


/* Colors */
$light: #ffffff;
$lightgray: #d8d8d8;
$darkgray: #222222;



$accent: red;

$medgray: #24272f;

$bured: #b2151c;
$darkred: #cd3f35;
$darkteal: #475761;

/* Backgrounds */
$sitebg: "images/rockshowcase.jpg";
$bulogo: "http://www.belmont.edu/images/homepage_redesign/logo.png";
$logo: "images/ShowcaseSeriesLogo.png";
$longlogo: "images/ShowcaseSeriesLongLogo.png";
$shortlogo: "images/ShowcaseSeriesShortLogo.png";